.navmargin{
    margin-right: 20px;
}
.demo-layout-transparent {
  background: url('img/bg.jpeg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.content {
    padding-top: 100px;
    max-width: 700px;
    margin: auto;
}
.demo-card-image.mdl-card {
  height: 256px;
  background: url('img/result_medium.jpeg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image2.mdl-card {
  height: 256px;
  background: url('img/syllab_medium.jpeg') center / cover;
}
.demo-card-image2 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image2__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image3.mdl-card {
  height: 256px;
  background: url('img/ref_books_med.jpeg') center / cover;
}
.demo-card-image3 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image3__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image4.mdl-card {
  height: 256px;
  background: url('img/site_medium.jpeg') center / cover;
}
.demo-card-image4 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image4__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image5.mdl-card {
  height: 256px;
  background: url('img/lyp_medium.jpeg') center / cover;
}
.demo-card-image5 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image5__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image6.mdl-card {
  height: 256px;
  background: url('img/help_medium.jpeg') center / cover;
}
.demo-card-image6 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image6__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.me{
  font-family: 'Roboto', sans-serif;
}
.app{
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 10px;
  padding-Bottom: 10px;
  background-color: #00bcd4;
}
.appname{
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}
.appname2{
  padding: 10px;
  font-family: 'Arial'
}
.card {
  margin: 8px;
  box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.2);
  background-color: #ffffff;
  transition: 0.3s;
  border: none;
  color: black;
  border-radius: 2px;
  min-width: 250px;
  max-height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgba(0,0,0,.5);
}