<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravrani_software_developers.studymate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Result"
            android:label="Result"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TimeTable"
            android:label="Time-Table"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Syllabus"
            android:label="Syllabus"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Lyp"
            android:label="Last Year Papers"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SemsterPDF"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Syllabus"/>
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Reference"></activity>
    </application>

</manifest>